* {
    box-sizing: border-box;
}

body {
  margin: auto;
  background-color: #eaf5eb;
  font-family: Helvetica;
}

header {
  text-align: center;
  margin: 1vh;
  height: 22vh;
}

header h1 {
  font-size: 7vh;
  color: #6ebf74;
  text-shadow: -1px 0 #31a439, 0 1px #31a439, 1px 0 #31a439, 0 -1px #31a439;
  margin: 0px;
  padding: 0px;
}

#timer {
  font-size: 8vh;
}

.pomodoro-body {
  background-color: #A43931;
  border-radius: 50%;
  border: 1vh solid #b6605a;
  height: 40vh;
  width: 40vh;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
  margin-bottom: 10vh;
}

.pomodoro-leaf {
  clip-path: polygon(5% 74%, 39% 56%, 24% 96%, 46% 56%, 79% 89%, 51% 54%, 89% 60%, 43% 46%, 54% 5%, 47% 10%, 39% 48%);
  width: 40vh;
  height: 20vh;
  background-color: #31a439;
  margin-bottom: -10vh;
}

.pomodoro-leaf:before {
  content: '';
  width: 40.3vh;
  height: 20.3vh;
  clip-path: polygon(5% 74%, 39% 56%, 24% 96%, 46% 56%, 79% 89%, 51% 54%, 89% 60%, 43% 46%, 54% 5%, 47% 10%, 39% 48%);
  background: #6ebf74;
  position: absolute;
  z-index: 3;
}

.tomato-container {
  display: block;
  margin: auto;
  width: 40vh;
  height: 50vh;
  vertical-align: middle;
}

.buttons, .steps {
  text-align: center;
  padding: 1vh;
  margin: 2vh;
  height: 8vh;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1vh;
}

button {
  background-color: #27832d;
  color: white;
  border: 0.2vh solid #227227;
  border-radius: 0.5vh;
  height: 5vh;
  width: 10vh;
  font-size: 2vh;
  cursor: pointer;
  padding: 0px;
}

button:hover {
  background-color: #18521c;
}

.step {
  background-color: #6ebf74;
  color: white;
  border: 0.2vh solid #31a439;
  border-radius: 0.5vh;
  height: 5vh;
  width: 10vh;
  font-size: 2vh;
}

.current-step {
  background-color: #27832d;
  border: 0.2vh solid #227227;
}

.current-step::after {

}

.tomato-buttons {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 2vh;
  height: 10vh;
}

.control-button {
  width: 5vh;
  text-align: center;
}

.material-icons {
  font-size: 3vh !important;
  vertical-align: middle !important;
  margin: 0 auto !important;
}

.settings {
  border-radius: 50%;
}

.slidecontainer {
  width: 40vh;
}

.slider {
    -webkit-appearance: none;
    width: 30vh;
    height: 0.3vh;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vh;
    height: 2vh;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 2vh;
    height: 2vh;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

.slidecontainer {
  height: 10vh;
    margin: 0 auto;
    text-align: center;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 0 auto;
    height: 45vh;
    width: 50vh;
    background-color: white;
    z-index: 10;
    text-align: center;
    border: 0.2vh solid #227227;
    border-radius: 0.5vh;
    left: 0;
    right: 0;
    margin-top: 1vh;
    font-size: 2vh;
}

.show {
  display: block;
}

#set-time-periods-button {
  margin-top: 3vh;
}

.close {
  color: white;
  top: -1vh;
  right: -1vh;
  height: 3vh;
  width: 3vh;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  text-align: center;
  line-height: 3vh;
}

.close .material-icons {
  font-size: 3vh;
  line-height: 3vh !important;
  text-align: center !important;
  height: 3vh !important;
  width: 3vh !important;
  margin: 0 auto !important;
  padding: 0 !important;
}


.pomodoros-done {
  height: 14vh;
  margin: 0 auto;
  text-align: center;
}

.pomodoros-done img {
  height: 7vh;
  width: 6vh;
}
