* {
    box-sizing: border-box;
}

body {
  margin: auto;
  background-color: #eaf5eb;
  font-family: Helvetica;
}

header {
  text-align: center;
  margin: 1vh;
  height: 18vh;
}

header h1 {
  font-size: 7vh;
  color: #6ebf74;
  text-shadow: -1px 0 #31a439, 0 1px #31a439, 1px 0 #31a439, 0 -1px #31a439;
  margin: 0px;
  padding: 0px;
}

#timer {
  font-size: 8vh;
}

.pomodoro-body {
  background-color: #A43931;
  border-radius: 50%;
  border: 1vh solid #b6605a;
  height: 40vh;
  width: 40vh;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.pomodoro-leaf {
  clip-path: polygon(5% 74%, 39% 56%, 24% 96%, 46% 56%, 79% 89%, 51% 54%, 89% 60%, 43% 46%, 54% 5%, 47% 10%, 39% 48%);
  width: 40vh;
  height: 20vh;
  background-color: #31a439;
  transform: translateY(10vh);
}

.pomodoro-leaf:before {
  content: '';
  width: 40.3vh;
  height: 20.3vh;
  clip-path: polygon(5% 74%, 39% 56%, 24% 96%, 46% 56%, 79% 89%, 51% 54%, 89% 60%, 43% 46%, 54% 5%, 47% 10%, 39% 48%);
  background: #6ebf74;
  position: absolute;
}

.tomato-container {
  display: block;
  margin: auto;
  width: 40vh;
  height: 80vh;
  vertical-align: middle;
}

.buttons {
  text-align: center;
  padding: 1vh;
  margin: 1vh;
}

button {
  background-color: #27832d;
  color: white;
  border: 2px solid #227227;
  border-radius: 0.5vh;
  height: 5vh;
  width: 10vh;
  font-size: 2vh;
}

button:hover {
    background-color: #18521c;
}
