@keyframes show-box {
  to {
    top: 18vh;
    z-index: 5;
  }
}

* {
    box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  margin: 0;
  padding: 0;
}

/*background image source: https://www.publicdomainpictures.net*/
.header {
  background-image: url('../images/blue_waves.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  color: white;
}

.header h1 {
  margin: 0 auto;
  font-size: 60px;
  transform: translateY(200px);
  margin-left: 20px;
}

.header h2 {
  margin: 0 auto;
  font-size: 30px;
  transform: translateY(210px);
  margin-left: 20px;
}


.content {
  border-collapse: collapse;
  display: table;
  width: 100%;
}

.block {
  display: table-row;
  border-bottom: 10px solid;
  -webkit-border-image: url('../images/blue_waves.jpg') 50 round;
  border-image: url('../images/blue_waves.jpg') 50 round;
  padding: 10px;
  height: 400px;
  color: #1f2639;
}

.block h3 {

}

.block-header {
  display: table-cell;
  width: 300px;
  padding-left: 20px;
  vertical-align: top;
}

.block-header h3 {
  font-size: 25px;
  -webkit-margin-after: 3px;
  margin-bottom: 20px;
}

.material-icons {
  margin-left: 10px !important;
  font-size: 40px !important;

}

.block-content {
  padding-left: 20px;
  display: table-cell;
}

/* links */

a {
  cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a img:hover {
    text-decoration: none;
}

a img:active {
  text-decoration: none;
}

/*projects images*/

.project {
  padding: 20px;
  text-align: center;
  display: inline-block;
}

.project img {
  width: 600px;
  border: 2px solid #1f2639;
  border-radius: 10px;
  /*-webkit-filter: grayscale(100%) opacity(50%);*/
  filter: opacity(70%);
}

.project img:hover {
  filter: none;
}
