@font-face {
    font-family: "Arcade";
    src: url('../fonts/ARCADECLASSIC.TTF') format("truetype");
}

body {
  font-family: 'Orbitron', cursive;
}

h1 {
  text-align: center;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
